#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;

  /* padding들어갔기에 */
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 150px;
  display: flex;
  /* flex박스를 만들어주면서 div의 크기가 화면전체에서 글자수 크기로 조정됨 */
  flex-direction: column;
  align-items: center;

  animation: fadeIn 0.8s linear;
}

.chats__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 8px 13px;
  border-radius: 15px;
  font-size: 18px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 15px;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  order: 1;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row--own .message__time {
  order: 0;
}

/* flex container내에서는 order를 통해 배열을 조정할수도 있다. 
message__info에 flex-direction: row-reverse를 통해서도 동일한 효과를 누릴수 있다*/

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply input {
  padding: 10px;
  /* input에 100%를 걸어도 늘어나지 않는데 이는 reply__column에 width값이 주어지지
  않았기 때문 */
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 1px;
  top: 3.5px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 12px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button i {
  opacity: 1;
}

.reply:focus-within .fa-smile-wink,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply .fa-smile-wink,
.reply button,
.reply .reply__column:first-child {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within {
  transform: translateY(80px);
}
