.nav {
  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  /* 내가 padding을 주어도 신경쓰지마라. 내 box 사이즈를 늘리지 말아. */
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: inherit;
  position: relative;
}

@keyframes notiAnimation {
  0% {
    transform: none;
  }

  50% {
    transform: translateY(-5px) rotateY(360deg);
  }

  100% {
    transform: none;
  }
}

.nav__noti {
  position: absolute;
  /* position: absolute는 가장 가까운 relative를 가진 부모 기준으로 움직이므로
  absolute를 쓴후에 아무 조치를 취하지 않으면 body를 기준으로 움직이게 된다. 따라서
  nav__link에 relative 걸어줘야한다. */
  left: 15px;
  bottom: 15px;
  animation: notiAnimation 2s ease-in-out infinite;
}

/* .nav__noti와 .badge class를 분리시켜서 html에서 활용하고 있음을 확인 */

@keyframes appearBtnAnimation {
  from {
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
  transform: translateY(50px);
  opacity: 0;

  /* .nav__btn에 transform이랑 opacity가 처음에 있었을때랑
  @keyframes의 from에 있을때를 구분해서 비교해본다. */
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}

.nav__btn:last-child {
  animation-delay: 0.6s;
}
